<div class="p-4 lg:p-8 font-quattrocento-sans">
    <h1 class="font-quattrocento text-3xl md:text-4xl xl:text-5xl text-purple-800 text-center font-bold mb-2">Welcome to Sample E-commerce</h1>
    <p class="text-justify mb-2 md:text-lg xl:text-2xl"> Sample E-commerce is a take on a simple e-commerce website that shows items the client
        side window. It features different functions such as adding to cart as well as cart checkouts. Another thing to
        note is that this website can be viewed easily in any device. Listed below are some questions you might have as
        well as the tools used to create this project.</p>

    <p class="text-purple-500 mb-2 text-sm md:text-base xl:text-xl">**Note: All products and services in this project are not real and are used
        for demonstration purposes only.</p>

    <h2 class="font-quattrocento text-2xl md:text-3xl xl:text-4xl text-purple-800 my-6">I. How to use the website</h2>

    <h3 class="font-quattrocento text-lg md:text-2xl xl:text-3xl text-purple-800 m-2 font-bold">How to add a product to your cart</h3>
    <ol class="bg-purple-200 px-4 py-2 rounded">
        <li class="my-2 md:text-lg xl:text-xl">1. <span class="font-bold">Choose a Product</span> that you like from the Homepage.</li>
        <li class="my-2 md:text-lg xl:text-xl">2. Once selected, <span class="font-bold">type in the quantity</span> that you want of this
            product. It is defaulted to one.
        </li>
        <li class="my-2 md:text-lg xl:text-xl">3. Press the <span class="font-bold">"add to cart"</span> button.</li>
        <li class="my-2 md:text-lg xl:text-xl">4. You may now see your products in the cart page.</li>
    </ol>

    <h3 class="font-quattrocento text-lg md:text-2xl xl:text-3xl text-purple-800 m-2 font-bold">How to modify your cart</h3>
    <ol class="bg-purple-200 px-4 py-2 rounded">
        <li class="my-2 md:text-lg xl:text-xl">1. In your carts page, <span class="font-bold">select a product</span> that you want to edit.
        </li>
        <li class="my-2 md:text-lg xl:text-xl">2. Once selected, you can either <span class="font-bold">change the quantity or remove the
                product</span> from your cart.
        </li>
        <li class="my-2 md:text-lg xl:text-xl">3. After selecting a button, you will then be <span class="font-bold">redirected back to the
                cart page</span> with your
            updated products.
        </li>
    </ol>

    <h3 class="font-quattrocento text-lg md:text-2xl xl:text-3xl text-purple-800 m-2 font-bold">How to checkout your cart</h3>
    <ol class="bg-purple-200 px-4 py-2 rounded mb-2">
        <li class="my-2 md:text-lg xl:text-xl">1. After finalizing the products that you want, <span class="font-bold">fill out the
                forms</span> with your name, cellphone
            number, and
            home address.</li>
        <li class="my-2 md:text-lg xl:text-xl">2. <span class="font-bold">Click the checkout button</span> at the bottom of the form to submit
            your order.</li>
        <li class="my-2 md:text-lg xl:text-xl">3. A notification for a <span class="font-bold">successful checkout will appear</span>.</li>
        <li class="my-2 md:text-lg xl:text-xl">4. Congratulations! You have successfully completed your first checkout.</li>
    </ol>

    <h2 class="font-quattrocento text-2xl md:text-3xl xl:text-4xl text-purple-800 my-6">II. Credits</h2>
    <p class="md:text-lg xl:text-xl">Sale banner images are taken from <a class="text-purple-700 underline" href="https://www.vecteezy.com/free-photos/3d">https://www.vecteezy.com/free-photos/3d</a></p>

</div>