<!-- <div class="flex flex-col sm:flex-row w-full h-[calc(100vh-4rem)] items-center justify-center">
    <div class="flex items-center justify-center w-5/6">
        <img class="m-4 w-full max-w-60 max-h-60 sm:max-w-96 sm:max-h-96 lg:w-5/6 lg:max-w-full lg:max-h-full animate-float" src="assets/images/purple-cart.png">
    </div>
    <div class="flex flex-col p-2 lg:p-4 xl:p-8 sm:m-4 lg:m-12 xl:m-32 w-5/6 bg-purple-200 rounded-xl">

        <p class="font-quattrocento font-semibold text-purple-800 sm:text-lg lg:text-2xl xl:text-4xl m-2">Username:</p>
        <input class="p-2 lg:p-4 rounded text-sm sm:text-base lg:text-xl xl:text-3xl" type="text" placeholder="donero" [(ngModel)]="username">

        <p class="font-quattrocento font-semibold text-purple-800 sm:text-lg lg:text-2xl xl:text-4xl m-2">Password:</p>
        <input class="p-2 lg:p-4 rounded text-sm sm:text-base lg:text-xl xl:text-3xl" type="password" placeholder="ewedon" [(ngModel)]="password">

        <button class="font-quattrocento-sans text-purple-600 mt-4 text-lg sm:text-xl lg:text-3xl xl:text-5xl hover:text-purple-500 active:text-purple-400" (click)="login()">Login</button>
    </div>
</div> -->
