<div class="p-2 sm:p-3 flex flex-col bg-purple-50 h-5/6">
    <fa-icon [icon]="faCircleArrowLeft" (click)="onBack()" class="text-purple-800 text-2xl sm:text-3xl md:text-4xl xl:text-5xl transition-all hover:cursor-pointer hover:text-purple-600 active:text-purple-400"></fa-icon>
    
    <div class="flex flex-col lg:flex-row lg:justify-items-center lg:items-center flex-grow">
        <img src="{{selectedProduct.image}}" class="p-4 size-auto min-h-60 min-w-60 max-h-80 lg:max-h-full self-center border-2 border-purple-200 rounded mt-4">
        <div class="flex flex-col lg:ml-4 lg:w-9/12">
            <p class="text-2xl md:text-4xl mt-1 md:mt-2 font-quattrocento font-extrabold">{{selectedProduct.title}}</p>
            <p class="text-sm md:text-lg font-quattrocento-sans text-purple-500 font-bold">{{selectedProduct.category}}</p>
            <br>
            <p class="text-base md:text-xl lg:text-2xl font-quattrocento-sans">{{selectedProduct.description}}</p>
            <br>
            <div class="flex items-center justify-between lg:mt-4 xl:justify-start">
                <p class="text-3xl md:text-4xl font-quattrocento text-purple-500 font-bold xl:px-2">&#8369;{{selectedProduct.price}}</p>
                <button type="button" class="bg-purple-800 text-white text-xl md:text-2xl w-2/4 max-w-96 p-2 md:p-3 font-quattrocento-sans rounded  hover:bg-purple-600 active:bg-purple-400 transition-all" (click)="onAddToCart()"><fa-icon [icon]="faCartPlus"></fa-icon> Add to cart</button>
            </div>
        </div>
        
    </div>
    
</div>


