<div class="flex flex-col items-center w-full bg-purple-50 mb-2">
    <div class="flex flex-col md:flex-row flex-grow md:items-center w-full  justify-center md:justify-around">
        <app-search-bar></app-search-bar>
        <app-filter-category></app-filter-category>
    </div>
    <div class="w-full grid grid-cols-2 md:grid-cols-3 auto-rows-fr gap-2 pt-3 p-2 items-center justify-center">
        @for (product of products; track $index) {
        <app-product-tile [product]=product>
        </app-product-tile>
        }
    </div>
</div>