<div class="flex sm:flex-col items-center justify-center bg-purple-300 rounded p-2 h-full w-full group hover:bg-purple-800 hover:cursor-pointer transition-all">

    <img class="max-w-32 sm:max-w-48 rounded-sm aspect-square px-0.5 pt-0.5 h-full w-full mr-2 sm:mr-0" src="{{product.image}}">
    
    <div class="flex flex-col flex-grow h-full items-center text-center mt-2">
        <p class="font-quattrocento text-purple-900 font-semibold text-ellipsis line-clamp-2 text-lg group-hover:text-white">{{ product.title}}</p>
        <p class="font-quattrocento-sans text-purple-700 group-hover:text-white">{{ product.category}}</p>
        <div class="flex flex-grow items-end justify-center">
            <p class="font-quattrocento-sans text-purple-800 font-semibold text-xl group-hover:text-white ">&#8369;{{ product.price}} x {{ quantity }}</p>
        </div>
    </div>

</div>
